@import 'src/tokens';

.Menu {
  display: flex;
  user-select: none;
  flex-direction: column;
  background-color: $color-grey-050;
  min-width: 300px;
  ul {
    margin: 0;
    padding: 0;
  }
  .active {
    background-color: $color-grey-200;
  }
  &__nav-link {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    &:link,
    &:visited {
      color: $text-on-grey-050--subdued;
      text-decoration: none;
      font-weight: $text-weight-bold;
    }
    &:hover {
      background-color: $color-grey-200;
    }
    &--active {
      &:link,
      &:visited {
        background-color: $color-primary-500;
        color: $text-on-primary-500--vivid;
      }
    }
    &--left {
      display: flex;
      justify-content: left;
    }
    &--arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 100%;
    }
    &-submenu {
      display: flex;
      font-size: 14px;
      padding: 0.75rem;
      padding-left: 3rem;
      &:hover {
        background-color: $color-grey-200;
      }
    }
  }
}
