@import 'src/tokens';

.FormItem {
  &__label {
    color: $color-grey-600;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  &__error-message {
    color: $color-danger;
    margin: 0;
    margin-top: 0.25rem;
    span {
      margin-left: 0.25rem;
      font-size: $text-size-xs;
    }
  }
  &__msg-wrapper {
    height: 1.5rem;
  }
}
